.code-menu {
    display: grid;
    gap: 8px;
    width: 100%;
    height: fit-content;

    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .x-block {
        background: none!important;
    }
}