.root {
  width: 100%;
  min-height: 100vh;

  padding: 4rem;
  box-sizing: border-box;
}

.aboutContent {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 30vw;
}