.root {
  position: relative;
  font-family: "Cormorant Unicase", 'serif';
  display: flex;
  span {
    display: inline-block;
  }
}

.big {
  font-size: 4rem;
}

.medium {
  font-size: 3rem;
}

.small {
  font-size: 2.5rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}
