.webx {
    .header {
        display: flex;
        justify-content: space-between;
        user-select: none;
        position: relative;
        z-index: 100;

        width: 100%;
        max-width: 1280px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 12px;
        .header-menu {
            display: flex;

            &.desktop-menu {
                gap: 16px;
            }
        }
    }
}