.webx {
    .header {
        display: flex;
        justify-content: space-between;
        user-select: none;
        position: relative;
        z-index: 100;
        .header-menu {
            display: flex;

            &.desktop-menu {
                gap: 16px;
            }
        }
    }
}