.mount-transition {
    transition: 0.1s;
    flex: 1 1 auto;

    -webkit-transition: transform 0.1s, opacity 0.1s;
    -moz-transition: transform 0.1s, opacity 0.1s;
    -o-transition: transform 0.1s, opacity 0.1s;
    transition: transform 0.1s, opacity 0.1s;

    cursor: wait;
    opacity: 0;
    transform: translateX(-24px);

    &.visible {    
        cursor: inherit!important;
        opacity: 1;
        transform: translateX(0px);
    }
}