.notify {
    .repo-headline {
        background: #3d3d2b;
        color: #ffffff!important;

        svg {
            fill: #ffd000!important;

            path {
                &[class=fill] {
                    fill: #ffd000!important
                }
                &[class=stroke] {
                    stroke: #ffd000!important
                }
            }
        }
    }
}