.homepage-face {
    width: fit-content;

    overflow: hidden;

    user-select: none;
    font-family: 'TT Travels';
    font-weight: bolder;
    font-size: 64px;

    position: relative;
    
    svg {
        width: 8rem;
        height: 8rem;
    }
    img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
        height: auto;
    }

    .homepage-title {

        display: flex;
        align-items: top;

        width: 512px;
        height: 77px;
        white-space: nowrap;
        box-sizing: border-box;
        .homepage-text {
            line-height: 64px;
            height: 64px;
        }
        span {
            height: 77px;
        }
        .separator {
            display: flex;
            overflow: hidden;
            width: 77px;
            line-height: 64px;
            height: 64px;
            box-sizing: border-box;
            :first-child {
                margin: 0 0px;
            }

            &.hidden {
                width: 0;
                transition: 1s;
                :first-child {
                    margin: 0 32px;
                    transition: 0.3s;
                }
            }
        }
        .logo-span {
            position: relative;
            overflow: hidden;
            width: 0;
            height: 77px;

            svg {
                position: absolute;
                top: 0;
                right: 0;
                width: 77px;
                height: 77px;
            }

            &.show {
                width: 77px;
                transition: 1s;
            }
        }
    }
}