.webx.screen-device-desktop {
    .homepage-face {
        height: 75vh;
    }
}

.webx:not(.screen-device-desktop) {
    .homepage-face {
        height: 100vw;
        margin-bottom: 8px;
    }
}

.homepage-face {
    background: url("~/media/footage.gif");
    // background: #0077ff;
    background-size: contain;
    background-position: center;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    overflow: hidden;

    user-select: none;
    font-family: 'TT Travels';
    font-weight: bolder;
    font-size: 64px;

    position: relative;
    
    svg {
        width: 8rem;
        height: 8rem;
    }
    img {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: auto;
    }

    .homepage-title {
        position: absolute;

        display: flex;
        align-items: center;

        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 75vw;
        height: 77px;
        white-space: nowrap;
        padding: 0 5%;
        box-sizing: border-box;
        span {
            height: 64px;
            display: inline-flex;
            align-items: center;
        }
    }
}