.header {
    .header-navigation-button {
        display: flex;
        align-items: center;

        height: 56px;

        transition: opacity 0.1s;
        opacity: 0.5;
        cursor: pointer;
        
        margin-left: auto;

        &:hover {
            opacity: 1;
        }
    }
}