@use "sass:math";
@import "@webx/utils/optional.scss";

$border-thin: 1px;
$separator-common: var(--x-block-border);
$box-shadow: 0px 4px 8px rgba(12, 21, 49, 0.027);

$box-border: 0 0 0 $border-thin $separator-common;


@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}