@mixin header {
    .header {
        height: 56px;

        .header-button {
            width: 56px;
            height: 56px;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: inherit;
             svg {
                transition: 0.1s;
            }
            .x-dropdown-content svg {
                opacity: 1!important;
            }
            .x-dropdown {
                width: 32px!important;
            }
            .x-dropdown-children {
                height: 20px;
                display: flex;
                align-items: center;
            }

            &.second {
                cursor: pointer;
                svg {
                    opacity: 0.5;
                }
            }

            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }

        .button-block {
            width: 228px;
            
            .app-button {
                border-radius: 4px;
                background: #282828;
                margin: 0 8px 8px 8px;
                box-sizing: border-box;
                padding: 2px 16px 0 12px;
                display: flex;
                align-items: center;

                &:hover{
                    background: #333;
                }

                svg {
                    transform: translateY(-4px);
                    margin-right: 4px;
                }
            }
        }
    }
}