@mixin header {
    .header-button {
        min-width: 56px;
        height: 56px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 8px;
        svg {
            width: 20px;
            height: 20px;
        }
        color: var(--color);
        opacity: 0.5;
        transition: 0.1s;
        font-size: 20px;
        .x-dropdown-content svg {
            opacity: 1!important;
        }
        .x-dropdown {
            width: 32px!important;
        }
        .x-dropdown-children {
            height: 20px;
            display: flex;
            align-items: center;
        }
        &:hover {
            opacity: 1;
        }
    }
    .header {
        height: 56px;


        .button-block {
            width: 228px;
            
            .app-button {
                border-radius: 4px;
                background: #282828;
                margin: 0 8px 8px 8px;
                box-sizing: border-box;
                padding: 2px 16px 0 12px;
                display: flex;
                align-items: center;

                &:hover{
                    background: #333;
                }

                svg {
                    transform: translateY(-4px);
                    margin-right: 4px;
                }
            }
        }
    }
}