@import "@webx-ui/utils/optional.scss";

.webx {
    .card-wrapper {
        position: absolute;
        left: 50%;
        z-index: 100;

        max-width: 640px;
        width: 100%;

        box-sizing: border-box;

        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, 5vh);

        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-top: 40vh;

        &.visible {
            opacity: 1!important;
            pointer-events: inherit!important;
            transform: translate(-50%, 0)!important;
            
            -webkit-transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s!important;
            -moz-transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s!important;
            -o-transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s!important;
            transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s!important;
        }

        .card-layout {
            width: 100%;
            box-sizing: border-box;
            min-height: 50vh;
        }
    }
    
    .card-wrapper-bg {
        /* Тёмный фон позади карточки, чтобы ограничить действия пользователя во время работы с формой */
        position: fixed;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100vh;
        -webkit-transition: opacity 0.6s!important;
        -moz-transition: opacity 0.6s!important;
        -o-transition: opacity 0.6s!important;
        transition: opacity 0.6s!important;
        z-index: 99;
        opacity: 0;
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0))!important;
        pointer-events: none;

        &.visible {
            /* Карточка на экране */
            opacity: 1!important;
            pointer-events: inherit!important;
        }
    }
}