@mixin x-button {
    .x-button {
        display: grid;
        gap: $point*2;

        border-radius: $point;
        min-height: $point*8;
        box-sizing: border-box;
        padding: 0 $point*2;
        --x-block-shadow: 0px 4px 8px rgba(12, 21, 49, 0.027);

        cursor: pointer;
        user-select: none;

        // component elements

        .x-button-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .x-button-title {
            width: max-content;

            padding-top: $point * 1.5;
            padding-bottom: $point * 0.5;

            font-size: 20px;
            text-align: left;
        }

        // themes

        &.theme-usual {
            --x-block-border: 0 0 0 1px #296fc518;
            box-shadow: var(--x-block-shadow), var(--x-block-border);
            background: #296fc5;

            .x-button-icon {
                color: #ffffff;
            }

            .x-button-title {
                color: #ffffff;
            }

            &:hover {
                background: #2177e0;
            }
        }

        &.theme-transparent {
            background: none;

            .x-button-icon {
                color: #296fc5;
                
                &.x-button-dropdown {
                    color: #888888;
                }
            }

            &:hover {
                background: #ffffff11;
                
                .x-button-icon {
                    color: #2177e0;
                }
            }
        }

        &.theme-white {
            background: #222222;
            --x-block-border: 0 0 0 1px #424242;
            box-shadow: var(--x-block-shadow), var(--x-block-border);

            .x-button-icon {
                color: #296fc5;

                &.x-button-dropdown {
                    color: #888888;
                }
            }

            &:hover {
                background: #333333;
                
                .x-button-icon {
                    color: #2177e0;
                    
                    &.x-button-dropdown {
                        color: #888888;
                    }
                }
            }
        }

        // grid templates

        &:not(.with-icon) {
            &:not(.with-title) {
                &:not(.at-dropdown) {
                    grid-template-columns: 1fr;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px;
                    padding: 0 $point*1.5!important;
                }
            }
            
            &.with-title {
                &:not(.at-dropdown) {
                    grid-template-columns: 1fr;
                }
                
                &.at-dropdown {
                    grid-template-columns: 1fr 24px;
                }
            }
        }

        &.with-icon {
            &:not(.with-title) {
                &:not(.at-dropdown) {
                    grid-template-columns: 24px;
                    padding: 0 $point!important;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px 24px;
                }
            }
            
            &.with-title {
                &:not(.at-dropdown) {
                    grid-template-columns: 24px 1fr;
                }
        
                &.at-dropdown {
                    grid-template-columns: 24px 1fr 24px;
                }
            }
        }
    }
}