@import "@webx/utils/optional.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.webx {
    .repos-text {
        padding: 0 8px;
        padding: $point*2 0;
        font-size: 20px;
    }

    &.screen-device-mobile {
        .repos-wrapper {
            .repos-headline {
                margin-bottom: $point * 3;
            }
        }

        .repos-page {
            padding: $point*3 $point*4;
        }

        .options-button-list {
            grid-template-columns: 1fr;
            --mobile: 1;
        }
    }

    &.screen-device-tablet {
        .desktop.repos {
            grid-template-columns: 240px 1fr;
        }

        .repos-wrapper {
            .repos-headline {
                margin-bottom: $point * 2;
            }
        }

        .repos-page {
            padding: $point*6 $point*8;
        }

        .options-button-list {
            grid-template-columns: 1fr 1fr;
            --mobile: 2;
        }
    }

    &.screen-device-desktop {
        .desktop.repos {
            grid-template-columns: 2fr 6fr 2fr;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
        }

        .repos-wrapper {
            .repos-headline {
                margin-bottom: $point * 2;
            }
        }

        .repos-page {
            padding: $point*6 $point*12;
        }

        .options-button-list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .repos-menu {
        .x-block:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .options {
        .x-button {
            display: inline-block;
            width: fit-content;
            border: 2px solid white;
            opacity: 0.5;

            :hover {
                opacity: 1!important;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    .repos-headline {
        display: flex;
        align-items: flex-end;

        padding: $point;
        line-height: 32px;
        color: var(--color);
        font-weight: 600;
        font-size: 28px;
        box-sizing: border-box;

        font-family: 'TT Travels'!important;

        .x-button:first-child {
            margin-right: $point * 2;
        }
    }
    .repo-description {
        max-width: 600px;
        font-size: 20px;
        margin-bottom: 8px;

        &:first-child {
            &::before {
                content: "Описание";
                display: block;
                font-size: 16px;
                margin-bottom: 8px;
                opacity: 0.5;
                text-transform: uppercase;
                font-family: 'Roboto Mono', monospace!important;
                text-transform: lowercase;
                letter-spacing: 1px;
            }
        }
    }

    .repos-menu-headline {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        font-family: 'TT Travels'!important;

        padding: $point $point*3;
        line-height: 32px;
        color: var(--color);
        font-weight: 600;
        font-size: 28px;
        box-sizing: border-box;
        user-select: none;

        .icon-title {
            flex: 1 1 auto;
            padding: 0 12px;
        }

        .icon-logo {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            background: black;
            box-shadow: 0 0 0 1px black;
            svg {
                color: white;
            }
        }
    }

    .options-button-list {
        display: grid;
        gap: $point*2;
        margin-bottom: $point;
        
        &::before {
            content: "Полезные ссылки";
            font-family: 'Roboto Mono', monospace!important;
            grid-column: 1 / span var(--mobile, 3);
            display: block;
            font-size: 16px;
            opacity: 0.5;
            text-transform: lowercase;
            letter-spacing: 1px;
        }

        .options-grid-item {
            display: flex;
            font-size: 20px;
            .x-button {
                width: 100%;
                .x-button-title {
                    text-align: left;
                }
            }

            &.button {
                grid-column: 1 / span 2;
                .x-button-title {
                    text-align: center;
                }
            }
        }
    }
    
    .repos-wrapper {
        .x-block {
            &:not(:last-child) {
                margin-bottom: $point*2;
            }
        }
    }

    .repos-menu {
        .repos-block {
            background: none;
            &:not(:last-child) {
                margin-bottom: $point*2;
            }
            &.x-button {
                width: 100%;
            }
            .x-button img {
                width: 100%;
                height: auto;
            }
        }
    }
}