.code {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
    display: grid;

    .options {
        margin-bottom: 8px;
        .x-button.link-button {
            display: inline-block;
            width: fit-content;
            border: 2px solid white;
            opacity: .5;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    

    .x-block:not(.button-block) {
        padding: 16px 20px;

        p:first-child {
            margin-block-start: 0;
        }

        p:last-child {
            margin-block-end: 0;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .repo-headline {
        padding: 132px 20px 20px;
        margin-bottom: 8px;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'TT Travels';
        
        svg {
            fill: black;
            width: 57px;
            height: 57px;
            path {
                &[class=fill] {
                    fill: black
                }
                &[class=stroke] {
                    stroke: black
                }
            }
        }

        h1 {
            margin: 0;
        }
        h3 {
            margin: 0;
        }
    }
}