.homepage-content {
    width: 100%;
    max-width: 512px;
    padding: 0 5%;
    margin: 0 auto;
    .homepage-links {
        gap: 8px;
    }
    .x-button {
        width: 100%;
        .x-button-title {
            font-size: 20px!important;
        }
    }
}
