.webx.screen-device-mobile {
    .homepage-content {
        width: 100%;
        max-width: 512px;
        padding: 0 5%;
        margin: 0 auto;
        box-sizing: border-box;

        .homepage-links {
            gap: 8px;
            
            .x-button {
                width: 100%;
                .x-button-title {
                    font-size: 20px!important;
                }
            }
        }
    }    
}
.webx:not(.screen-device-mobile) {
    .homepage-content {
        width: fit-content;
        padding: 0 5%;
        margin: 0 auto;
        box-sizing: border-box;

        .homepage-links {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 8px;

            .x-button {
                width: 48px;
                height: 48px;
                gap: 0;
    
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
    
                .x-button-icon {
                    width: 32px;
                    height: 32px;
    
                    svg {
                        width: 32px;
                        height: 32px;
                        fill: white!important;
                    }
                }
                .x-button-title {
                    display: none;
                }
            }
        }
    }    
}


.homepage-panels {
    display: flex;
    width: fit-content;
    gap: 20px;
    margin-bottom: 20px;

    .homepage-panel {
        position: relative;
        svg {
            display: block;
            margin-bottom: 20px;
            width: 64px;
            height: 64px;
        }

        padding: 1px;
        border-radius: 16px;
        user-select: none;

        box-sizing: border-box;
        width: 300px;
        height: 240px;
        cursor: pointer;
        &:hover {
            background: #333;
            
            .x-block {
                background: #333;
            }
        }

        .x-block {
            pointer-events: none;
            display: flex;
            flex-direction: column;
            justify-content: end;
            position: relative;
            z-index: 4;
            padding: 48px 19px 19px 19px!important;
            box-shadow: none;
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

        h2   {
            padding: 0;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}