.header {
    .header-settings {
        display: flex;
        justify-content: right;
        align-items: center;

        height: 56px;

        transition: opacity 0.1s;
        opacity: 0.5;
        cursor: pointer;

        &.mobile {
            width: 38px;
        }

        &:hover {
            opacity: 1;
        }
    }
}