.homepage-face {
    background: url("~/media/footage.gif");
    background-size: contain;
    background-position: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 35vh;
    box-sizing: border-box;
    height: 60vh;

    user-select: none;
    font-family: 'TT Travels';
    font-weight: bolder;
    font-size: 64px;

    .homepage-title {
        width: 424px;
        height: 77px;
        overflow-x: visible;
        margin: 0 auto;
        white-space: nowrap;
        span {
            height: 77px;
            display: inline-flex;
            align-items: end;
        }
        .separator {
            opacity: 1;
            transition: 1s;
            &.hidden {
                opacity: 0;
            }
        }
    }
}