.webx.screen-device-desktop {
    .homepage-face {
        height: 75vh;
    }
}

.webx:not(.screen-device-desktop) {
    .homepage-face {
        height: 100vw;
        margin-bottom: 8px;
    }
}

.homepage-face {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    overflow: hidden;

    box-sizing: border-box;
    user-select: none;
    font-family: 'TT Travels';
    font-weight: bolder;
    font-size: 64px;

    position: relative;

    &.mobile {
        .homepage-title {
            left: 50%;
            transform: translateX(-50%);
            bottom: 5%;
            width: 100%;
            justify-content: center;
        }

        img {
            top: 15%;
            height: 60%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:not(.mobile) {
        img {
            top: 50%;
            transform: translateY(-50%);
            height: 80%;
            right: 5%;
        }
        
        .homepage-title {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    svg {
        width: 8rem;
        height: 8rem;
    }
    img {
        position: absolute;
        width: auto;
    }

    .homepage-title {
        position: absolute;

        display: flex;
        align-items: center;

        width: 75vw;
        height: 77px;
        white-space: nowrap;
        padding: 0 5%;
        box-sizing: border-box;
        span {
            height: 64px;
            display: inline-flex;
            align-items: center;
        }
    }
}