@import "@webx/utils/optional.scss";

.webx {
    .index {
        display: flex;

        flex-direction: column;

        width: 100%;
        min-height: calc(100vh - 56px);

        padding: $point * 2;
        box-sizing: border-box;
        margin: 0 auto;

        .desktop {
            display: grid!important;
            gap: $point*2;
        }

        .tablet {
            display: grid!important;
            gap: $point*2;
        }

        .mobile {
            padding: 0 5%;
        }
    }
}