@mixin html {
    ::-webkit-scrollbar {
        width: 16px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-clip: content-box;
        border-top: 16px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 16px solid transparent;
        
        margin: 8px 0;
        background-color: rgba(255, 255, 255, 0.2);
        transition: 0.1s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    a {
        color: var(--x-button-icon);
        transition: 0.1s;
        text-decoration: none;
        
        &:link {
            opacity: 0.5;
        }
    
        &:visited {
            opacity: 0.25;
        }
    
        &:hover {
            opacity: 0.75;
    
        }
    
        &:active {
            opacity: 1
        }
    }
    
    h1, h2, h3, h4, h5, h6, p {
        padding: 0 $point * 2;
        box-sizing: border-box;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        font-family: 'TT Travels';
    }
    
    h1 {
        font-size: $point * 12;
    }
    
    p {
        font-size: 20px;
    }
}