@import "./mixin-import.scss";

html {
  @include theme-dark;
  
  .webx {
    .index {
      display: flex;

      flex-direction: column;

      padding: 0;
      min-height: calc(100vh - 56px);

      box-sizing: border-box;
      margin: 0 auto;
    }

    svg {
      fill: #fff;
    }


    h6 {
      margin: 0;
      padding: 3rem 0 0.4rem;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 500!important;
      color: #888;
      font-size: 16px;
      box-sizing: border-box;
      user-select: none;
    }

    ul {
      padding-inline-start: 0;
    }
    
    li {
      list-style: none;
    }

    input {
      height: 1rem*8;
      padding: 4px 1rem * 2 4px 1rem * 3;
      box-sizing: border-box;
      border: none;
      border-radius: 1rem*8;
      width: 100%;
      cursor: text;
      background: #222;
      font-size: 20px;
      font-family: inherit;
      outline: none;
    }
  }
}