@import "@webx/utils/optional.scss";
@import "./mixin-import.scss";

html {
    @include theme-dark;
    
    .webx {
        .index {
            display: flex;

            flex-direction: column;

            padding: 0;
            min-height: calc(100vh - 56px);

            box-sizing: border-box;
            margin: 0 auto;
        }

        svg {
            fill: #fff;
        }


        h6 {
            margin: 0;
            padding: $point*3 $point * 0 4px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 500!important;
            color: #888;
            font-size: 16px;
            box-sizing: border-box;
            user-select: none;
        }

        ul {
            padding-inline-start: 0;
        }
        
        li {
            list-style: none;
        }

        input {
            height: $point*8;
            padding: 4px $point*2 4px $point*3;
            box-sizing: border-box;
            border: none;
            border-radius: $point*8;
            width: 100%;
            cursor: text;
            background: #222;
            font-size: 20px;
            font-family: inherit;
            outline: none;
        }
    }
}