@import "@webx/utils/optional.scss";
@import "./mixin-import.scss";

html {
    @include theme-dark;
    
    .webx {
        .index {
            display: flex;

            flex-direction: column;

            padding: 0;
            min-height: calc(100vh - 56px);

            box-sizing: border-box;
            margin: 0 auto;

            .calc {
                display: grid!important;
                gap: $point*2;
            }
        }
        svg {
            fill: #fff;
        }
        .sheet-item-actions svg{
            fill: #0077ff!important;
        }
        .catalogue.search svg{
            fill: #0077ff!important;
        }

        .cart-calc-message {
            min-height: 30vh;
            font-size: 20px;

            h6 {
                margin: $point 0 $point*2;
                padding: 0;
            }
            label {
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    width: 50%;
                    background: #333;
                }
            }
            
            .x-block {
                margin: 0 auto 16px;
                box-sizing: border-box;
                padding: $point*5 $point*10!important;
            }

            .x-button {
                display: flex;
                width: 256px;
                justify-content: center;
                margin: 0 auto 16px;
            }
            .options-grid-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .cart {
            box-sizing: border-box;
            border-radius: $point*4;
            background: #111;

            .pin-block {
                padding: 0 $point * 3;
                background: #111;
                padding-bottom: 12px;
                border-radius: 0 0 $point*3 $point*3;
                h6 {
                    padding-left: $point * 3;
                    padding-right: $point * 3;
                }
            }
            .sheet {
                background: #181818;
                border-radius: $point*4 $point*4 0 0;
                        
                .sheet-void {
                    flex: 1 1 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    border: 2px dashed #333;
                    color: #888;
                    border-radius: $point*2;
                    user-select: none;
                    margin: $point*0 $point*2 $point*2;
                    p {
                        width: 70%;
                        height: 50%;
                        font-size: 24px;
                    }
                }
                
                h6 {
                    padding-left: $point * 6;
                    padding-right: $point * 6;
                }

                ul {
                    margin-block-start: 0;
                    margin-block-end: 0;

                }
                .x-block {
                    box-shadow: none;
                    background: #222;
                }
            }
        }

        .results {
            .user-cache {
                margin-bottom: $point*3;
            }

            &:last-child {
                flex: 1 1 auto;
            }
        }

        .content-wrap {
            display: flex;
            flex-direction: column;
            border-radius: $point*4;
            background: #111;
            box-sizing: border-box;

            &:not(.catalogue-wrap) {
                padding: 0 $point*2 $point*2;
            }
            
            .pin-block {
                padding: 0 $point*2;
                background: #111;
                padding-bottom: 12px;
                border-radius: 0 0 $point*3 $point*3;
                h6 {
                    padding-left: $point * 3;
                    padding-right: $point * 3;
                }
            }

            .items-wrap {
                background: #181818;
                border-radius: $point*4 $point*4 0 0;
                padding: 0 $point*2;
            }
            .x-block {
                box-shadow: none;
            }
            .catalogue.search {
                height: 100%;
                display: flex;
                flex-direction: column;
                .items-wrap {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    .catalogue-search-void {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: 1 1 auto;
                        margin-bottom: $point*2;
                        box-sizing: border-box;
                        border: 2px dashed #333;
                        color: #888;
                        border-radius: $point*2;
                        font-size: 20px;
                        user-select: none;

                        p {
                            width: 70%;
                            height: 50%;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        
        h6 {
            margin: 0;
            padding: $point*3 $point * 0 4px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 500!important;
            color: #888;
            font-size: 16px;
            box-sizing: border-box;
            user-select: none;
        }

        ul {
            padding-inline-start: 0;
        }
        
        li {
            list-style: none;
        }

        input {
            height: $point*8;
            padding: 4px $point*2 4px $point*3;
            box-sizing: border-box;
            border: none;
            border-radius: $point*8;
            width: 100%;
            cursor: text;
            background: #222;
            font-size: 20px;
            font-family: inherit;
            outline: none;
        }
    }
}