.root {
  padding: 4rem;
  box-sizing: border-box;

  &.mobileTemplate {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
  &.desktopTemplate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}