// .webx {
//     &.screen-device-mobile {
//         .about-wrapper {
//             flex-direction: column-reverse;
//         }
//     }
//     &.screen-device-desktop {
//         .about-wrapper {
//             gap: 32px;
//             height: 80vh;
//         }
//     }
// }

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    img {
        height: 50vh;
        width: auto;
    }
    p {
        text-align: center;
    }
}
.links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .links-block {
        display: flex;
        gap: 8px;
    }

    img {
        height: 50vh;
        width: auto;
    }
    
    .x-button {
        display: inline-block;
        width: fit-content;
        border: 2px solid white!important;
        opacity: 0.5;
        .x-button-title {
            font-size: 20px!important;
        }
    }
}