.links-wrapper {
    width: fit-content;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;

    &.desktop {
        grid-template-columns: 2fr 3fr;
        .links-content {
            display: flex;
            flex-direction: column;
            justify-content: end;

            .x-block {
                margin-right: 128px;
            }
        }

        img {
            height: 85vh;
            width: auto;
        }
    }

    &:not(.desktop) {
        img {
            width: 100%;
            height: auto;
        }
    }


    h3, h6, p {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 8px 0;
    }
}