.webx.screen-device-mobile {
    .links-wrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 100vw;
        padding: 0 5%;

        h6 {
            width: 100%;
        }
        .x-button {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}
.webx:not(.screen-device-mobile) {
    .links-wrapper {
        width: 100%;
        height: calc(100vh - 56px * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .links-block {
            display: flex;
            gap: 8px;
        }

        .x-button {
            display: inline-block;
            width: fit-content;
        }
    }
}

.links-wrapper {
    gap: 8px;

    img {
        height: 50vh;
        width: auto;
    }
    
    .x-button {
        border: 2px solid white!important;
        opacity: 0.5;
        .x-button-title {
            font-size: 20px!important;
        }
    }
}