.repo-headline {
    padding: 20px;
    min-height: 192px;
    margin-bottom: 16px;

    display: flex;
    align-items: end;

    background: #0077ff;
    border-radius: 8px;
    color: black;

    h1 {
        height: fit-content;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}