

.webx {
    .not-found {
        max-width: 480px;
        width: 100%;
        margin: auto;
        .x-block {
            padding: 4px 5% 32px 5%!important;
            .x-button {
                display: flex;
                justify-content: center;
            }
        }
    }
}