.webx-repo {
    .repo-headline {
        background: black!important;
        color: white!important;
        border: 2px solid white;

        
        svg {
            fill: white!important;

            path {
                &[class=fill] {
                    fill: white!important
                }
                &[class=stroke] {
                    stroke: white!important
                }
            }
        }
    }
}